<div class="content">
  <!-- Contenu de la page -->
</div>
<footer class="footer" *ngIf="!adminRole">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-lg-4">
        <h5>A propos</h5>
        <p>Avec plus de 10 ans d'expérience dans l'impression, MyPrint est devenue une entreprise de confiance pour de nombreuses entreprises et particuliers.
          Faites confiance à MyPrint pour tous vos projets d'impression.</p>
      </div>
      <div class="col-md-6 col-lg-4">
        <h5>Contacter nous</h5>
        <ul class="list-unstyled">
          <li><i class="fa fa-map-marker"></i> Address: 5 rue yves decugis Lille 59000</li>
          <li><i class="fa fa-phone"></i> Phone: 0783009962</li>
          <li><i class="fa fa-envelope"></i> Email: myprint@gmail.com</li>
        </ul>
      </div>
      <div class="col-md-12 col-lg-4">
        <h5 [routerLink]="['/cgv']" style="cursor: pointer">CGV</h5>
        <h5 [routerLink]="['/politique']" style="cursor: pointer">Politique de confidentialité</h5>
        <ul class="list-unstyled social-icons">
          <li><a href="https://www.facebook.com"><i class="fab fa-facebook-f"></i></a></li>
          <li><a href="https://www.twitter.com"><i class="fab fa-twitter"></i></a></li>
        </ul>
        <br>
        <h5>Paiement sécurisé</h5>
        <ul class="list-unstyled social-icons">
          <li><img src="/assets/images/Visa-Symbol.webp" alt="Visa" style="width: 50px;"></li>
          <li><img src="https://www.mastercard.us/content/dam/mccom/global/logos/logo-mastercard-mobile.svg" alt="Mastercard" style="width: 70px;"></li>
          <li><img src="/assets/images/Paypal.png" alt="PayPal" style="width: 40px;"></li>
        </ul>
      </div>

    </div>
    <div class="row mt-4">
      <div class="col-12 text-center">
        <p>&copy; 2023 MyPrint. All rights reserved.</p>
      </div>
    </div>
  </div>
</footer>
