<div class="row vh-100">
    <div class="col-md-3">
        <div class="card bg-dark text-white h-100 rounded-0">
            <app-admin-dashboard></app-admin-dashboard>
        </div>
    </div>
    <div class="col-md-9">
        <div class="row">
            <h2>Liste des utilisateurs</h2>
            <div class="table-responsive">
                <table class="table table-striped table-hover">
                    <thead>
                    <tr>
                        <th scope="col">Infos</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let user of users" (click)="afficherCommandes(user)">
                        <td>
                            <div class="d-flex align-items-center">
                                <img src="https://mdbootstrap.com/img/new/avatars/8.jpg" alt="" style="width: 45px; height: 45px" class="rounded-circle" />
                                <div class="ms-3">
                                    <p class="fw-bold mb-1">{{user.nom}} {{user.prenom}}</p>
                                    <p class="text-muted mb-0">{{user.email}}</p>
                                </div>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>

            <div *ngIf="selectedUser">
                <h2>Commandes de {{selectedUser.nom}} {{selectedUser.prenom}}</h2>
                <div class="card">
                    <ul *ngIf="commandes && commandes.length > 0">
                        <li *ngFor="let commande of commandes">
                            <br />
                            Numéro de commande: {{ commande.numeroCommande }}<br />
                            Date: {{ commande.date }}<br />
                            <div class="dropdown-container">
                                Statut:
                                <select class="custom-dropdown" [(ngModel)]="commande.statusDto.libelle">
                                    <option value="Commande confirmé">Commande confirmée</option>
                                    <option value="En cours d'impression">En cours d'impression</option>
                                    <option value="Terminé">Terminé</option>
                                    <option value="Envoyer">Envoyé</option>
                                    <option value="Livrer">Livré</option>
                                </select>
                            </div>

                            Prix: {{ commande.prixCommande }}<br />

                        </li>
                    </ul>
                    <p *ngIf="!commandes || commandes.length === 0">Aucune commande trouvée pour cet utilisateur.</p>
                </div>
            </div>

        </div>

    </div>

</div>

