.label-text {
    font-family: 'Helvetica Neue', sans-serif;
    font-weight: bold;
}
.card2{
    margin-left: 24%;
}

@media (max-width: 991px) {
    .ml-md-15percent {
        margin-left: 0;
    }
}

@media (min-width: 992px) {
    .ml-md-15percent {
        margin-left: 19%;
    }
}
.max-width-100 {
    max-width: 100%;
}
.command-info div {
    max-width: 100%;
    word-wrap: break-word;
}
.command-info span {
    max-width: 100%;
    display: inline-block;
}
