<button class="btn btn-sm btn-outline-secondary position-absolute top-2 start-0 mt-3 ms-3" (click)="back()" style="box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.4);">
  Page précédente
</button>

<div class="div1" style="min-height: calc(100vh - 200px); padding-bottom: 100px;">
  <div class="div1 d-flex align-items-center" style="margin-left: 15%">
    <div class="card mb-3 cardadresse" style="border: none; margin-top: 50px">
      <div class="card-body">
        <h5>MON PANIER</h5>
        <hr>
        <p>RÉCAPITULATIF DE LA COMMANDE</p>
      </div>
    </div>
  </div>

  <div class="container my-5">
    <div class="row">
      <div class="col-md-8">
        <div class="card mb-3" style="box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.4);">
          <div class="card-body">
            <div class="d-flex justify-content-between align-items-center">
              <h5 class="card-title">Mon panier</h5>
              <button class="btn btn-sm btn-success" [routerLink]="['/user/home']" style="margin-bottom: 15px" data-toggle="tooltip" data-placement="top" title="Ajouter une nouvelle commande">
                <i class="fas fa-plus"></i>
              </button>


            </div>

            <table class="table">
              <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Info commande</th>
                <th scope="col">Prix Unitaire</th>
                <th scope="col">Quantité</th>
                <th scope="col">Prix total</th>
                <th scope="col"></th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let commande of commandes; let i = index;">
                <th scope="row">{{ i + 1 }}</th>
                <td>
                <span class="label-text"><strong>Type :</strong></span>
                {{ getCategoryLibelle(commande.categorie) }} <br>
                <span class="label-text"><strong>Format : </strong></span> {{ commande.format }} <br>
                <span class="label-text"><strong>Impression en : </strong></span> {{ commande.couleur ? 'Couleur' : 'Noir et blanc' }}, <br>
                <span class="label-text"><strong>Impression en  : </strong></span> {{ commande.rectoVerso ? 'Recto verso' : 'Recto' }}<br>
                <span class="label-text"><strong>Nombre de pages : </strong></span> {{ commande.nbrPages}}
                <div>
                  <div>
                    <div>
                      <div>
                        <span class="label-text"><strong>Nom du fichier :</strong></span> {{ commande.fileName }}
                        <br>
                      </div>
                    </div>
                  </div>
                  <br>
                </div>
                </td>
                <td> 0.10 € </td>
                <td>
                <div class="d-flex justify-content-center align-items-center">
                <button class="btn btn-sm btn-outline-secondary me-2" (click)="decrementQuantity(commande)"><i class="fa fa-minus"></i></button>
                {{ commande.tirage }}
                <button class="btn btn-sm btn-outline-secondary ms-2" (click)="incrementQuantity(commande)"><i class="fa fa-plus"></i></button>
              </div>
                </td>
                <td>{{ commande.prix }} </td>
                <td><button class="btn btn-sm btn-danger" (click)="removeItem(commande)" data-toggle="tooltip" data-placement="top" title="Supprimer la commande"><i class="fa fa-trash"></i></button>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="card mb-3" style="box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.4);">
          <div class="card-body">
            <h5 class="card-title">Résumé de la commande</h5>
            <p>Total : {{ getTotal() }} </p>

            <div class="text-end">
              <button class="btn btn-outline-success"[routerLink]="['/user/paiment']" (click)="uploadFiles(); loadCart()" style="box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.4);">Passer la commande</button>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <h5 style="margin-left: 16%">Vos adresses </h5>
  <hr style="width: 8%; margin-left: 16%">
  <div class="row card2">
    <div class="col-md-3" *ngFor="let ad of adresse">
      <div class="card mb-3 shadow">
        <div class="card-body">
          <h5 class="card-title">{{ ad.typeAdresse?.libelle }}</h5>
          <p class="card-text">{{ ad.rue }} {{ ad.complement }}</p>
          <p class="card-text">{{ ad.codePostal }} {{ ad.ville }}</p>
          <div class="d-flex justify-content-end">
            <button class="btn btn-sm btn-danger" (click)="ad.id !== undefined ? deleteAdresse(ad.id) : null"data-toggle="tooltip" data-placement="top" title="Supprimer votre adresse"><i
                    class="fa fa-trash"></i></button>
            <button class="btn btn-sm btn-info ms-2" [routerLink]="['/user/update-adresse', ad.id]"data-toggle="tooltip" data-placement="top" title="Modifier votre adresse"><i class="fa fa-edit"></i></button>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-1">
      <button class="btn btn-sm btn-success" [routerLink]="['/user/add-adresse']"data-toggle="tooltip" data-placement="top" title="Ajouter une nouvelle adresse"><i class="fas fa-plus"></i></button>
    </div>
  </div>

</div>
