<div class="card" style="width: 60%; margin-left: 20%; margin-top: 5%">
    <div class="card-header" style="background-color: ghostwhite">
        <h3 class="text-center">F.A.Q.</h3>
    </div>
    <div class="card-body">
        <div class="accordion" id="accordionExample">
            <div class="card">
                <div class="card-header" id="headingOne">
                    <h2 class="mb-0">
                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
                                data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                            <p>Nos heures d'ouverture?</p>
                        </button>
                    </h2>
                </div>
                <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                    <div class="card-body">
                        <p>Lundi → vendredi : de 08h00 à 17h30</p>
                        <p>Samedi → dimanche : fermé</p>
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-header" id="headingTwo">
                    <h2 class="mb-0">
                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
                                data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                            <p>Où sommes-nous situés?</p>
                        </button>
                    </h2>
                </div>
                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                    <div class="card-body">
                        <p>Nous sommes situés à Lille.</p>
                        <p>55 rue de la république Lille 59000</p>
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-header" id="headingThree">
                    <h2 class="mb-0">
                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
                                data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                            <p>Nos délais de livraison?</p>
                        </button>
                    </h2>
                </div>
                <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                    <div class="card-body">
                        <p>Une fois ta commande imprimée, tu as le choix entre deux options de livraison :</p>
                        <ul>
                            <li>bpost s'engage à livrer ta commande du lundi au vendredi entre 08h00 et 17h30.</li>
                            <li>Soit tu peux retirer ta commande dans nos bureaux : 55 rue de la république Lille 59000< Du
                                lundi au vendredi entre 08h00 et 17h30.
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="headingThree1">
                    <h2 class="mb-0">
                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
                                data-target="#collapseThree1" aria-expanded="false" aria-controls="collapseThree1">
                            <p>Acceptons-nous des fichiers qui ne sont pas enregistrés en PDF??</p>
                        </button>
                    </h2>
                </div>
                <div id="collapseThree1" class="collapse" aria-labelledby="headingThree1" data-parent="#accordionExample">
                    <div class="card-body">
                        <p>Pour nous permettre d’imprimer ton document de manière professionnelle et afin de garantir
                            l’intégralité de ton document, <br>
                            il nous est impératif de réceptionner celui-ci au format PDF. Et ce dans le but premier
                            d'empêcher des modifications de mise en page.</p>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="headingThree2">
                    <h2 class="mb-0">
                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
                                data-target="#collapseThree2" aria-expanded="false" aria-controls="collapseThree2">
                            <p>Quelle est la taille maximum de fichier que tu peux vous transférer?</p>
                        </button>
                    </h2>
                </div>
                <div id="collapseThree2" class="collapse" aria-labelledby="headingThree2" data-parent="#accordionExample">
                    <div class="card-body">
                        <p>Nous acceptons des fichiers jusqu'à 10Mo.</p>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="headingThree3">
                    <h2 class="mb-0">
                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
                                data-target="#collapseThree3" aria-expanded="false" aria-controls="collapseThree3">
                            <p>Quelle dimension correspond à A3, A4?</p>
                        </button>
                    </h2>
                </div>
                <div id="collapseThree3" class="collapse" aria-labelledby="headingThree3" data-parent="#accordionExample">
                    <div class="card-body">
                        <p>A3 = 297 x 420 mm</p>
                        <p>A4 = 210 x 297 mm</p>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="headingThree4">
                    <h2 class="mb-0">
                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
                                data-target="#collapseThree4" aria-expanded="false" aria-controls="collapseThree4">
                            <p>Quel mode de paiement acceptons-nous?</p>
                        </button>
                    </h2>
                </div>
                <div id="collapseThree4" class="collapse" aria-labelledby="headingThree4" data-parent="#accordionExample">
                    <div class="card-body">
                        <p>Nous acceptons: Mastercard ou Visa.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

