<div class="card" style="width: 60%; margin-left: 20%; margin-top: 5%">
    <div class="card-header" style="background-color: ghostwhite">
        <h3 class="text-center">Conditions Générales de Vente</h3>
    </div>
    <div class="card-body">
        <div class="accordion" id="accordionExample">
            <div class="card">
                <div class="card-header" id="headingOne">
                    <h2 class="mb-0">
                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
                                data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            <p>Objet </p>
                        </button>
                    </h2>
                </div>
                <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                    <div class="card-body">
                        <p>Les présentes CGV ont pour objet de définir les droits et obligations des parties dans le cadre de la vente en ligne de biens et services proposés par [nom de l'entreprise] au client.</p>

                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-header" id="headingTwo">
                    <h2 class="mb-0">
                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
                                data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                            <p>Commandes </p>
                        </button>
                    </h2>
                </div>
                <div id="collapseTwo" class="collapse show" aria-labelledby="headingTwo" data-parent="#accordionExample">
                    <div class="card-body">
                        <p>Le client peut passer la commande sur le site internet myprint.com</p>
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-header" id="headingThree">
                    <h2 class="mb-0">
                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
                                data-target="#collapseThree" aria-expanded="true" aria-controls="collapseThree">
                            <p>Prix</p>
                        </button>
                    </h2>
                </div>
                <div id="collapseThree" class="collapse show" aria-labelledby="headingThree" data-parent="#accordionExample">
                    <div class="card-body">
                        <p>Les prix des produits vendus sont indiqués en euros toutes taxes comprises.</p>
                 </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="headingThree1">
                    <h2 class="mb-0">
                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
                                data-target="#collapseThree1" aria-expanded="true" aria-controls="collapseThree1">
                            <p>Paiement</p>
                        </button>
                    </h2>
                </div>
                <div id="collapseThree1" class="collapse show" aria-labelledby="headingThree1" data-parent="#accordionExample">
                    <div class="card-body">
                        <p>Le paiement s'effectue en ligne par carte bancaire.</p>

                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="headingThree2">
                    <h2 class="mb-0">
                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
                                data-target="#collapseThree2" aria-expanded="true" aria-controls="collapseThree2">
                            <p>Livraison</p>
                        </button>
                    </h2>
                </div>
                <div id="collapseThree2" class="collapse show" aria-labelledby="headingThree2" data-parent="#accordionExample">
                    <div class="card-body">
                        Les produits sont livrés à l'adresse indiquée par le client lors de sa commande.

                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="headingThree3">
                    <h2 class="mb-0">
                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
                                data-target="#collapseThree3" aria-expanded="true" aria-controls="collapseThree3">
                            <p>Droit de rétractation</p>
                        </button>
                    </h2>
                </div>
                <div id="collapseThree3" class="collapse show" aria-labelledby="headingThree3" data-parent="#accordionExample">
                    <div class="card-body">
                        <p>Le client dispose d'un délai de 14 jours à compter de la réception des produits pour exercer son droit de rétractation.</p>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="headingThree4">
                    <h2 class="mb-0">
                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
                                data-target="#collapseThree4" aria-expanded="true" aria-controls="collapseThree4">
                            <p>Litiges</p>
                        </button>
                    </h2>
                </div>
                <div id="collapseThree4" class="collapse show" aria-labelledby="headingThree4" data-parent="#accordionExample">
                    <div class="card-body">
                        <p>En cas de litige, une solution amiable sera recherchée avant toute action judiciaire.</p>
                        <p>Les présentes CGV sont soumises au droit français. En cas de litige, les tribunaux français seront seuls compétents.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

