<div class="custom-container container d-flex justify-content-center" style="margin-top: 5%" *ngIf="getTotal() > 0">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Paiement</h5>
            <p class="card-text">Montant total: <span class="font-weight-bold">{{ getTotal()?.toFixed(2) }} €</span></p>
            <ngx-braintree
                    [getClientToken]="getClientToken.bind(this)"
                    [createPurchase]="checkOut.bind(this)"
                    [chargeAmount]="getTotal()"
                    [showCardholderName]= true
                    (paymentStatus)="onPaymentStatus($event)"
                    [buttonText]="'Payer'">
            </ngx-braintree>
        </div>
    </div>
</div>
