<div class="container" style="margin-top: 5%; justify-content: center">
    <div class="card mb-3 cardadresse">
        <div class="card-body">
            <h1>Mes commandes</h1>
            <hr>
            Vous trouvez ici les détails de vos commandes <br>

        </div>
    </div>

    <div class="card">
        <div class="card-header" style="background-color: #eee; font-size: 1.5em; font-weight: bold; padding: 10px;">
            Commande de {{user?.nom}} {{user?.prenom}}
        </div>
        <div class="card-body">

            <ul style="list-style: none; padding: 0;">
                <li *ngFor="let commande of commandes" style="margin-bottom: 10px;">
                    <div style="display: flex; align-items: center;">
                        <div style="flex-basis: 10%;">
                            <i class="fa fa-shopping-cart" style="color: #4CAF50;"></i>
                        </div>
                        <div style="flex-basis: 40%;">
                            <span style="font-weight: bold;">Numéro de commande :</span>
                        </div>
                        <div style="flex-basis: 50%;">
                            {{commande.numeroCommande}}
                        </div>
                    </div>

                    <div style="display: flex; align-items: center;">
                        <div style="flex-basis: 10%;">
                            <i class="fa fa-euro" style="color: #2196F3;"></i>
                        </div>
                        <div style="flex-basis: 40%;">
                            <span style="font-weight: bold;">Prix :</span>
                        </div>
                        <div style="flex-basis: 50%;">
                            {{commande.prixCommande}} €
                        </div>
                    </div>
                    <div style="display: flex; align-items: center;">
                        <div style="flex-basis: 10%;">
                            <i class="fa fa-info-circle" style="color: #FFC107;"></i>
                        </div>
                        <div style="flex-basis: 40%;">
                            <span style="font-weight: bold;">Statut :</span>
                        </div>
                        <div style="flex-basis: 50%;">
                            {{commande.statusDto.libelle}}
                            <input type="hidden" [(ngModel)]="commande.statusDto.libelle">
                        </div>

                    </div>
                    <div style="display: flex; align-items: center;">
                        <div style="flex-basis: 10%;">
                            <i class="fa fa-calendar" style="color: #9C27B0;"></i>
                        </div>
                        <div style="flex-basis: 40%;">
                            <span style="font-weight: bold;">Date d'achat :</span>
                        </div>
                        <div style="flex-basis: 50%;">
                            {{commande.date}}
                        </div>
                    </div>
                    <hr>
                </li>

            </ul>
            <button [routerLink]="['/user/status']" class="btn btn-primary j" style="font-size: 1.2rem; padding: 10px 20px;">Suivre mes commandes</button>
        </div>
    </div>

    <button class="btn btn-sm btn-outline-secondary  top-2 start-0 mt-3 ms-3" (click)="back()" style="box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.4);">
        Page précédente
    </button>

</div>
