<div class="card" style="width: 60%; margin-left: 20%; margin-top: 5%">
    <div class="card-header" style="background-color:ghostwhite">
        <h3 class="text-center">VISION ET POLITIQUE DE PROTECTION DES DONNÉES PERSONNELLES</h3>
    </div>
    <div class="card-body">
        <div class="accordion" id="accordionExample">
            <div class="card">
                <div class="card-header" id="headingOne">
                    <h2 class="mb-0">
                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
                                data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                            <p>Politique de confidentialité</p>
                        </button>
                    </h2>
                </div>
                <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                    <div class="card-body">
                        <p>Nous prenons votre vie privée au sérieux. Cette politique de confidentialité explique comment nous collectons, utilisons et partageons vos informations personnelles.</p>
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-header" id="headingTwo">
                    <h2 class="mb-0">
                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
                                data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                            <p>Collecte d'informations personnelles</p>
                        </button>
                    </h2>
                </div>
                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                    <div class="card-body">
                        <p>Nous collectons des informations personnelles lorsque vous vous inscrivez sur notre site,
                            passez une commande ou vous abonnez à notre newsletter. Les informations collectées incluent votre nom, adresse e-mail,
                            adresse de livraison et informations de paiement.</p>
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-header" id="headingThree">
                    <h2 class="mb-0">
                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
                                data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                            <p>Utilisation des informations personnelles</p>
                        </button>
                    </h2>
                </div>
                <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                    <div class="card-body">
                        <ul>
                            <p>Nous utilisons vos informations personnelles pour traiter vos commandes, vous envoyer des e-mails marketing et vous fournir un meilleur service client. Nous pouvons également utiliser vos informations pour améliorer notre site web et personnaliser votre expérience de navigation.</p>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="headingThree1">
                    <h2 class="mb-0">
                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
                                data-target="#collapseThree1" aria-expanded="false" aria-controls="collapseThree1">
                            <p>Partage des informations personnelles</p>
                        </button>
                    </h2>
                </div>
                <div id="collapseThree1" class="collapse" aria-labelledby="headingThree1" data-parent="#accordionExample">
                    <div class="card-body">
                        <p>Nous ne partageons pas vos informations personnelles avec des tiers, sauf dans les cas où cela est nécessaire pour traiter votre commande (par exemple, avec nos partenaires de livraison) ou pour se conformer à la loi.</p>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="headingThree2">
                    <h2 class="mb-0">
                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
                                data-target="#collapseThree2" aria-expanded="false" aria-controls="collapseThree2">
                            <p>Conservation des informations personnelles</p>
                        </button>
                    </h2>
                </div>
                <div id="collapseThree2" class="collapse" aria-labelledby="headingThree2" data-parent="#accordionExample">
                    <div class="card-body">
                        <p>Nous conservons vos informations personnelles aussi longtemps que nécessaire pour fournir nos services et nous conformer aux lois applicables. Si vous souhaitez que nous supprimions vos informations, veuillez nous contacter.</p>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="headingThree3">
                    <h2 class="mb-0">
                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
                                data-target="#collapseThree3" aria-expanded="false" aria-controls="collapseThree3">
                            <p>Modifications de la politique de confidentialité</p>
                        </button>
                    </h2>
                </div>
                <div id="collapseThree3" class="collapse" aria-labelledby="headingThree3" data-parent="#accordionExample">
                    <div class="card-body">
                        <p>Nous nous réservons le droit de modifier cette politique de confidentialité à tout moment. Les modifications prendront effet dès leur publication sur notre site web.</p>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="headingThree4">
                    <h2 class="mb-0">
                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
                                data-target="#collapseThree4" aria-expanded="false" aria-controls="collapseThree4">
                            <p>Contactez-nous</p>
                        </button>
                    </h2>
                </div>
                <div id="collapseThree4" class="collapse" aria-labelledby="headingThree4" data-parent="#accordionExample">
                    <div class="card-body">
                        <p>Si vous avez des questions ou des préoccupations concernant cette politique de confidentialité, veuillez nous contacter à l'adresse suivante : myprint@gmail.com</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

